@charset "UTF-8";
@namespace h 'http://www.w3.org/1999/xhtml/';
@namespace epub 'http://www.idpf.org/2007/ops';

@font-face {
    font-family: "braille";
    src        : url("../font/LouisLouis.ttf") format("TrueType");
}

/* Reset from : */
/*  blitz — CSS framework for reflowable eBooks
    Version 1 by Jiminy Panoz
    Codename: Rock the Casbah
    License : MIT (https://opensource.org/licenses/MIT)   */
address,
article,
aside,
blockquote,
canvas,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
summary,
ul {
    font-size  : 1em;
    font-weight: normal;
    font-style : normal;
    line-height: inherit;
    margin     : 0;
    padding    : 0;
    text-indent: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

dt,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
    text-align: left;
}

nav[epub|type~='toc'] ol {
    list-style: none !important;
}

nav[epub|type~='landmarks'],
nav[epub|type~='page-list'] {
    display: none;
}

a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
var {
    font-size      : inherit;
    font-weight    : inherit;
    font-style     : inherit;
    vertical-align : baseline;
    text-decoration: none;
    color          : inherit;
}

q {
    quotes: none;
}

aside>       : last-child,
body>        : last-child,
body>section>: last-child {
    margin-bottom: 0;
}

* {
    -webkit-hyphens: none;
    -moz-hyphens   : none;
    hyphens        : none;
    -ms-hyphens    : none;
}

html {
    font-size: 100%;
}

body {
    font-size  : 1em;
    font-family: sans-serif;
}

@page {
    padding: 3em;
}

.BrailleDirect,
.BrailleDirectpara {
    font-family: "braille";
    font-size  : 1.6em;
}

.espBraille {
    font-family  : initial;
    padding-right: .4em;
}

.BrailleDirectpara {
    line-height: 1em;
    margin-top : .5em;
    line-height: 1.5em;
}

h1,
.titreLivre,
.titre {
    font-weight  : bold;
    margin-top   : 2em;
    margin-bottom: 1em;
    /* line-height: 1.5em; */
}

h1,
.titreLivre {
    font-size: 1.7em;
}

.titre {
    font-size: 1.5em;
}

h2 {
    font-size : 1.4em;
    margin-top: 2em;
}

h3 {
    font-size : 1.2em;
    margin-top: 2em;
}

h4 {
    margin-top: 2em;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

p {
    margin-top : 1em;
    line-height: 1.5em;
}

ul {
    line-height    : 1.5em;
    list-style     : outside;
    /* list-style-type: square; */
    padding-left   : 2em;
    width          : calc(100% - 2em);
}

dt {
    font-weight: bold;
    padding-top: 1.5em;
}

ol {
    line-height : 1.5em;
    padding-left: 2em;
    width       : calc(100% - 2em);
}

ol li {
    padding-top: .5em;
}

ol li {
    font-weight: bold
}

ol li ol li,
.liste_num {
    font-weight: normal !important
}

.ol-toc a {
    text-decoration: none !important
}

b {
    font-weight: bold;
}

i,
cite {
    font-style: italic
}

u {
    text-decoration: underline
}

img {
    max-width   : 25%;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration-color: red;
}

sup {
    vertical-align: super;
    font-size     : .8em;
}

.centrer {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

p.centrer {
    text-align: center
}

#tab64carac,
#tab64carac td {
    border-width: .1em;
}

#tab64carac td {
    border-top-style: solid;
    padding         : .3em .4em;
    width           : 1em;
}

#tab64carac {
    border-collapse: collapse;
    border-style   : solid;
}

.centrer64Carac {
    max-width: 50%;
}

.centrerTab {
    max-width: 80%;
}

.tabBraille {
    width          : 100%;
    margin-top     : 1.5em;
    border-collapse: collapse;
}

.tabBraille td,
.tabBraille th {
    border-style: solid;
    border-width: .2em;
    padding     : .1em .3em;
}

.tabBraille caption {
    border-style: solid;
    border-width: .2em;
    padding     : .5em .3em;
    font-weight : bold;
    font-size   : 1.2em;
}

.notes-basdepage {
    font-size      : .6em;
    padding-left   : .1em;
    text-align     : left;
    text-decoration: none;
    border         : 0;
    font-size      : smaller;
    line-height    : normal;
    vertical-align : super;
}

.texte-notes {
    font-size   : .9em;
    padding-top : 1.5em;
    padding-left: 2em;
    text-align  : left;
}

.exposant {
    padding-left: .1em;
}

.rouge {
    color: rgb(255, 0, 0)
}

.vert {
    color: rgb(0, 218, 0)
}

.bleu {
    color: rgb(0, 0, 255)
}

.sans-top {
    margin-top : 0;
    line-height: 1.2em
}

.divBraille {
    overflow-x : auto;
    white-space: nowrap;
    padding-left: 2em;
}

.divBraille p {
    line-height: 1.2em;
}

.divBraille p:not(:first-child) {
    margin-top: 0;
}

ol.listeNumImbriquee {
    counter-reset: section;
    list-style-type: none;
  }
.listeNumImbriquee li {
    font-weight: normal !important;
}
  
.listeNumImbriquee li::before {
    counter-increment: section;
    content: counters(section,".") ".\00a0";
  }

  em {
      font-style: italic
  }

  
  ul.ptConduite {
    max-width: 40em;
    padding-left: 1em;
    overflow-x: hidden;
    list-style: none}
ul.ptConduite li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.ptConduite span:first-child {
    padding-right: 0.33em;
    background: white}
ul.ptConduite span + span {
    float: right;
    padding-left: 0.33em;
    background: white}